@import 'responsive';

.main{
    @include displayFlex(row, center, stretch, 0);
    height: 35%;

    .container{
        @include displayGrid(1fr 1fr 2fr 0fr 1fr 2fr 1fr 1fr, 1fr, 0);

        @include responsive(tablet){
            @include displayFlex(column, center, center, 50px);
            
        }
    }

    &__checkNumber{
        grid-area: 1 / 3 / 2 / 4;
        width: 250px;
        justify-self: flex-end;

        @include responsive(laptop){
            width: 200px;
        }

        @include responsive(tablet){
            width: 250px;
        }

        @include responsive(mobile){
            width: 75%;
        }

        &__border{
            border: 5px solid #fff;

            &__input{
                @include size(100%, 100px);
                @include BAC(transparent, #fff);
                @include fontRules(42px, 400, 'Press Start 2P');
                text-align: center;
                border: none;

                @include responsive(laptop){
                    font-size: 30px;
                }
            }
        }

        &__click{
            text-align: center;
            background: #fff;

            &__input{
                @include size(100%, auto);
                @include fontRules(20px, 400, 'Press Start 2P');
                padding: 20px;
                border: none;
                background: transparent;
                cursor: pointer;

                @include responsive(laptop){
                    font-size: 17px;
                }
            }
        }
    }

    &__info{
        @include displayFlex(column, flex-start, stretch, 50px);
        grid-area: 1 / 6 / 2 / 7;
        font-size: 25px;

        @include responsive(LGdesktop){
            font-size: 20px;
        }

        @include responsive(desktop){
            font-size: 18px;
        }

        @include responsive(tablet){
            font-size: 15px;
        }

        @include responsive(mobile){
           @include displayFlex(column, center, center, 40px);
        }

        &__first{
            display: flex;
            align-items: center;
            gap: 20px;

            &__icon img{
                    max-width: 30px;
                    display: none;
            }

            &__highOrLow{
                font-size: 22px;

                @include responsive(LGdesktop){
                    font-size: 20px;
                }

                @include responsive(desktop){
                    font-size: 18px;
                }

                @include responsive(tablet){
                    font-size: 15px;
                }

                @include responsive(mobile){
                    font-size: 13px;
                }
            }
        }

        &__second{
            @include displayFlex(column, flex-start, stretch, 20px);

            &__score{
                display: flex;
                align-items: center;
                gap: 20px;

                &__textGroup{
                    @include displayFlex(row, flex-start, stretch, 20px);
                }
            } 

            &__highScore{
                display: flex;
                align-items: center;
                gap: 20px;

                &__textGroup{
                    @include displayFlex(row, flex-start, stretch, 20px);

                }
            }

        }
    }
}