@import 'responsive';
.title{
    @include displayFlex(row, center, stretch, 0);
    height: 10%;

    .container{

        @include displayFlex(row, center, center, 0);
    }

    &__text{
        font-size: 40px;

        @include responsive(LGdesktop){
            font-size: 35px;
        }

        @include responsive(desktop){
            font-size: 30px;
        }

        @include responsive(laptop){
            font-size: 25px;
        }

        @include responsive(tablet){
            font-size: 20px;
        }

        @include responsive(mobile){
            font-size: 16px;
        }
    }
}